//desktop variables
$deskImageMargin: 3%;
$paintingMaxDimension: 256px;
$deskModalFontSize: 25px;
$deskFooterFontSize: 30px;
$deskFooterHeight: 50px;


//mobile variables
$mobImageMargin: 2%;
$mobNavBarFontSize: 16px;
$mobFooterFontSize: 20px;


//global variable
$externalLinkColor: #90bfff;