@import '_variables';

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

//desktop
@media (min-width: 767px) {
  #navBar {
    width: 100%;
    position: fixed;
    background-color: white;
    height: 20%;
    top: 0;

    #logo {
      font-size: 40px;
      position: relative;
      top: 25%;
      cursor: pointer;
    }

    #menu {
      position: relative;
      top: 40%;
      left: 5%;
      display: flex;

      div {
        margin: {
          right: 5%;
        }
      }

      #back {
        button {
          background-color: white;
          border: none;
          font-size: 24px;
          cursor: pointer;
        }
      }

      #searchBar {
        font-size: 24px;

        input {
          height: 24px;
          font-size: 24px;
        }
        button {
          background-color: white;
          border: none;
          font-size: 24px;
          cursor: pointer;
        }
      }

      #searchSubmit {

        img {
          height: 24px;
          width: 24px;
        }
      }

      #yearCategory {
        button {
          background-color: white;
          border: none;
          font-size: 24px;
          cursor: pointer;
        }
      }
    }
  }

  #gallery {
    text-align: center;
    width: 100%;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    //position: relative;
    margin: {
      top: 25%;
    }

    .painting {
      width: 256px;
      height: 330px;
      text-align: center;
      margin: $deskImageMargin;

      .image {
        cursor: pointer;
        img {
          max-height: $paintingMaxDimension;
          max-width: $paintingMaxDimension;
        }
      }

      .title {
        font-style: italic;
      }

      .title, .artist, .year {
        margin: {
          top: 5px;
        }
      }
    }
  }

  #loadImages {
    margin: {
      top: 1%;
      bottom: 2%;
    }
    button {
      background-color: white;
      border: none;
      height: $deskFooterHeight;
      font-size: $deskFooterFontSize;
      cursor: pointer;
    }
  }
  #scrollToTop {
    button {
      background-color: white;
      border: none;
      height: $deskFooterHeight;
      font-size: $deskFooterFontSize;
      cursor: pointer;
    }
  }

  #modalContainer {
    display: flex;
    width: 100%;

    .modalContent {
      margin: {
        top: 5%;
      }
      span {
        color: grey;
        font-size: $deskModalFontSize;
        padding-bottom: 10%;
      }
    }

    #modalArt {
      width: 35%;
    }

    #artInformation {
      width: 35%;

      #externalLink {
        color: $externalLinkColor;
        font-size: $deskModalFontSize;
        cursor: pointer;
      }
    }

    #modalExitButton {
      width: 30%;
      text-align: right;

      .exitModal {
        border: none;
        font-size: 30px;
        background-color: white;
        color: grey;
        cursor: pointer;
      }
    }
  }
}

//mobile
@media (max-width: 767px) {
  #navBar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    height: 15%;
    display: flex;

    #logo {
      left: 15%;
      font-size: 30px;
      position: relative;
      top: 25%;
      cursor: pointer;
    }

    #menu {
      text-align: left;
      position: relative;
      top: 10%;
      left: 20%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      #back {
        button {
          background-color: white;
          border: none;
          font-size: $mobNavBarFontSize;
          cursor: pointer;
        }
      }

      #searchBar {
        font-size: $mobNavBarFontSize;

        input {
          height: $mobNavBarFontSize;
          font-size: $mobNavBarFontSize;
          width: 100px;
        }
        button {
          background-color: white;
          border: none;
          font-size: $mobNavBarFontSize;
          cursor: pointer;
        }
      }

      #searchSubmit {

        img {
          height: 16px;
          width: 16px;
        }
      }

      #yearCategory {
        button {
          background-color: white;
          border: none;
          font-size: $mobNavBarFontSize;
          cursor: pointer;
        }
      }
    }
  }

  #gallery {
    margin: {
      top: 15%;
    }

    .painting {
      margin: {
        top: $mobImageMargin;
        bottom: ($mobImageMargin + 3%);
      }

      .image {
        cursor: pointer;
      }
    }
  }

  #loadImages {
    margin: {
      bottom: 1%;
    }
    button {
      background-color: white;
      border: none;
      height: 30px;
      font-size: $mobFooterFontSize;
      cursor: pointer;
    }
  }
  #scrollToTop {
    button {
      background-color: white;
      border: none;
      height: 30px;
      font-size: $mobFooterFontSize;
      cursor: pointer;
    }
  }

  #modalContainer {
    justify-content: space-between;
    align-items: flex-start;

    .modalContent {
      margin: {
        top: 3%;
      }
      span {
        color: grey;
        font-size: $mobModalFontSize;
      }
    }

    #modalArt {
      width: 100%;
    }

    #artInformation {

      #externalLink {
        color: $externalLinkColor;
        font-size: $mobModalFontSize;
        cursor: pointer;
      }
    }

    #modalExitButton {
      position: absolute;
      top: 0;
      right: 0;
      .exitModal {
        border: none;
        font-size: ($mobModalFontSize + 2px);
        background-color: transparent;
        color: grey;
        cursor: pointer;
      }
    }
  }

}